body{
    background-color: rgb(32, 32, 32);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    padding: 7px;
    background-color: white;
    border-radius: 5px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.459);
}

footer{
    font-style: italic;
    color: white;
    text-align: center;
}
input {
    border-radius: 4px;
}
select {
    border-radius: 4px;
    width: 200px;
}
